<main class="home">
    <header class="header">
        <h1 class="title">Lista de Pessoas Desaparecidas</h1>
        <div class="containerInputs">
            <app-input [inputvalue]="nameInput" (eventEmitter)="onChangeNameInput($event)"
                placeholder="Digite o nome da pessoa"></app-input>

            <div class="containerAge">
                <app-input [inputvalue]="initialAge" (eventEmitter)="onChangeInitialAge($event)"
                    placeholder="Faixa Idade inicial" type="number" style="margin-right: 10px;"></app-input>
                <app-input [inputvalue]="endAge" (eventEmitter)="onChangeEndAge($event)" placeholder="Faixa Idade Final"
                    type="number"></app-input>
            </div>

            <div class="containerGender">
                <div>
                    <input type="radio" id="man" name="fav_language" (change)="selectedGender = 'MASCULINO'">
                    <label for="man" class="label">Masculino</label><br>
                    <input style="margin-top: 10px;" type="radio" id="woman" name="fav_language" (change)="selectedGender = 'FEMININO'">
                    <label for="woman" class="label">Feminino</label><br>
                </div>

                <button class="btn" (click)="search()">Pesquisar</button>
            </div>
        </div>
    </header>

    <section class="container" *ngIf="listOfPeople.length > 0">
        <app-card *ngFor="let item of listOfPeople" [person]="item"></app-card>
    </section>

    <section class="pagination" *ngIf="listOfPeople.length > 0">
        <a (click)="onClickPreviousPage()" class="paginationBtn"
            [ngStyle]="page <= 0 ? {'pointer-events': 'none', 'background-color': ''} : null">&lt;</a>
        <span>{{page}} / {{maxPage}}</span>
        <a (click)="onClickNextPage()" class="paginationBtn"
            [ngStyle]="page === maxPage ? {'pointer-events': 'none', 'background-color': ''} : null">&gt;</a>
    </section>
</main>