.home {
  .header {
    padding: 26px 120px;
    background: linear-gradient(to right, #000000 0, #333333 40%, #333333 60%, #000000 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .title {
      text-align: center;
      color: #e8e8e8;
      font-family: sans-serif;
      font-size: 32px;
      margin-bottom: 22px;
    }

    .containerLogo {
      margin-right: 20px;

      .logo {
        width: 400px;
      }

      .report {
        color: white;
        text-align: right;
        font-size: calc(16px + 0.5vw);
        font-family: 'Inter';
        font-weight: 200;
        margin-top: 25px;
        padding-right: 10px;
      }
    }

    .containerInputs {
      width: 500px;

      .containerAge {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
      }

      .label {
        color: white;
        font-family: "Inter", sans-serif;
      }

      .containerGender {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;

        .btn {
          background-color: #04945f;
          border: none;
          color: white;
          padding: 2px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 15px;
          width: 46%;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
            transition: 0.3s;
          }
        }
      }
    }
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e8e8e8;
    padding: 30px;
  }

  .pagination {
    text-align: center;
    width: 100%;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-family: inter;
    font-size: 17px;

    span {
      padding: 8px 16px;
      font-weight: 600;
    }

    a {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 2px solid #d3d3d3;
      border-radius: 50%;
      cursor: pointer;
      background-color: rgb(242, 242, 242);
    }

    a:hover:not(.active) {
      background-color: #ddd;
    }
  }
}

@media (max-width: 560px) {
  .home {

    .header {
      .title {
        font-size: 21px;
      }

      .containerLogo {
        margin-right: 0;

        .logo {
          width: 300px;
        }

        .report {
          font-size: 14px;
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .home {
    .header {
      padding: 26px 5%;

      .containerInputs {
        width: 100%;
      }
    }

    .container {
      justify-content: center;
    }
  }
}

@media (max-width: 950px) {
  .header {
    flex-direction: column;

    .containerLogo {
      margin-bottom: 30px;
    }
  }
}